<script src="https://hcaptcha.com/1/api.js?hl={{ app.request.locale }}" async defer></script>

<script>
    let isCaptchaExecuted = false;
    document.addEventListener('DOMContentLoaded', function() {
        let form = document.getElementById('{{ form.vars.id }}').closest('form');

        form.querySelector('button[type="submit"]').addEventListener('click', function (event) {
            if (!isCaptchaExecuted) {
                isCaptchaExecuted = true;

                event.preventDefault();
                hcaptcha.execute();
            }
        });
    });

    function captchaResponseCallback(response) {
        let fieldElement = document.getElementById('{{ form.vars.id }}');
        if (response) {
            fieldElement.value = response;
        }

        /** Avoid error that form contains extra fields */
        let hCaptchaResponseElement = document.querySelector('textarea[name="h-captcha-response"]');
        if (hCaptchaResponseElement) {
            hCaptchaResponseElement.parentNode.removeChild(hCaptchaResponseElement);
        }

        let gCaptchaResponseElement = document.querySelector('textarea[name="g-recaptcha-response"]');
        if (gCaptchaResponseElement) {
            gCaptchaResponseElement.parentNode.removeChild(gCaptchaResponseElement);
        }

        /** Call twice to be possible execute hash controller **/
        fieldElement.closest('form').querySelector('button[type="submit"]').click();
    }

    function captchaExpiredCallback() {
        hcaptcha.reset();
    }

    function captchaErrorCallback() {
        alert('{{ _('Problem with captcha detected. Please refresh the page.') }}');
    }
</script>

<div class="h-captcha"
     id="h-captcha"
     data-sitekey="{{ public_key }}"
     data-size="invisible"
     data-callback="captchaResponseCallback"
     data-expired-callback="captchaExpiredCallback"
     data-error-callback="captchaErrorCallback"
><!--Invisible hCAPTCHA--></div>

{{ form_widget(form) }}

<p>
    <small class="form-text text-muted">
        {{ __('Protected by %s', 'hCaptcha') }}
        <a href="https://hcaptcha.com/privacy" target="_blank">{{ _('Privacy Policy') }}</a>
        &#124;
        <a href="https://hcaptcha.com/terms" target="_blank">{{ _('Terms of Service') }}</a>
    </small>
</p>