<h3>{{ __('Hello, %s!', contact.name) }}</h3>

<p>{{ _('Our team received your email and will reply to you as soon as possible!') }}</p>
<hr>
<ul>
    <li>{{ contact.name }}</li>
    <li>{{ contact.email }}</li>
    <li>{{ contact.subject }}</li>
    <li>{{ contact.message }}</li>
</ul>