{% extends 'core/layout/default.html.twig' %}

{% block title %}Symfony {{ symfony }}{% endblock %}

{% block main %}
    <div class="feature-list">
        <div class="row">
            <h2>{{ _('The coolest boilerplate built with best practices!') }}</h2>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fab fa-symfony"></i>
                </div>

                <h3 id="symfony">{{ symfony }}</h3>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fab fa-php"></i>
                </div>

                <h3 id="php">{{ php }}</h3>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-wrench"></i>
                </div>

                <h3 id="env">{{ env }}</h3>
            </div>
        </div>
    </div>
{% endblock %}
