{% extends 'back/layout/default.html.twig' %}

{% block pageTitle %}
    {% trans from 'backoffice' %}Edit Admin{% endtrans %} - {{ admin.email }}
{% endblock %}

{% block content %}
    <h2 class="text-3xl text-black mb-10">{{ block('pageTitle') }}</h2>

    {{ form_start(form) }}
        {{ form_row(form.email, {'value': admin.email}) }}
        {{ form_row(form.password) }}
    {{ form_end(form) }}
{% endblock %}
