{% extends 'back/layout/default.html.twig' %}

{% block pageTitle %}
    {% trans from 'backoffice' %}Admin{% endtrans %}
{% endblock %}

{% block content %}
    <h2 class="text-3xl text-black mb-10">{{ block('pageTitle') }}</h2>

    {% for key, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ key }} alert-dismissible" role="alert" data-controller="close">
                {{ message }}

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="{{ 'close' }}"
                        data-action="click->close#close"
                >{# empty #}</button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="w-full" x-data="{ isOpen: false }">
        <div class="flex justify-between items-center mb-3">
            <p class="text-xl flex items-center">
                <i class="fas fa-list mr-3"></i>
                {% trans from 'backoffice' %}Latest Admins{% endtrans %}
            </p>

            <div>
                <button :class="isOpen ? 'btn-dark': 'btn-outline'" class="btn mr-2" @click="isOpen = !isOpen">
                    {% trans from 'backoffice' %}Filter{% endtrans %}
                    <i class="fas fa-filter ml-3"></i>
                </button>

                <a href="{{ path('backoffice.admin.create') }}" class="btn btn-primary w-100">
                    {% trans from 'backoffice' %}Create{% endtrans %}
                    <i class="fas fa-plus-circle ml-2"></i>
                </a>
            </div>
        </div>

        <div :class="isOpen ? 'block': 'hidden'" class="block mb-3 mt-3">
            <form action="{{ path(app.request.get('_route')) }}" method="get">
                <div class="relative z-0 mb-3 w-full group">
                    <input type="text"
                           name="likeEmail"
                           placeholder="{% trans from 'backoffice' %}Search by email{% endtrans %}"
                           title="{% trans from 'backoffice' %}Search by email{% endtrans %}"
                           class="input input-bordered w-full"
                           value="{{ app.request.query.get('likeEmail') }}"
                    >
                </div>

                <div date-rangepicker datepicker-format="dd.mm.yyyy" class="grid md:grid-cols-2 md:gap-6">
                    <div class="mb-3 w-full group">
                        <input type="text"
                               name="startCreatedAt"
                               placeholder="{% trans from 'backoffice' %}Start created at{% endtrans %}"
                               title="{% trans from 'backoffice' %}Start created at{% endtrans %}"
                               class="input input-bordered w-full"
                               value="{{ app.request.query.get('startCreatedAt') }}"
                               autocomplete="off"
                               list="autocompleteOff"
                        >
                    </div>

                    <div class="mb-3 w-full group">
                        <input type="text"
                               name="endCreatedAt"
                               placeholder="{% trans from 'backoffice' %}End created at{% endtrans %}"
                               title="{% trans from 'backoffice' %}End created at{% endtrans %}"
                               class="input input-bordered w-full"
                               value="{{ app.request.query.get('endCreatedAt') }}"
                               autocomplete="off"
                               list="autocompleteOff"
                        >
                    </div>
                </div>
                
                {% for queryKey, queryValue in app.request.query.all %}
                    {% if queryKey not in ['likeEmail', 'startCreatedAt', 'endCreatedAt']  %}
                        <input type="hidden" name="{{ queryKey }}" value="{{ queryValue }}">
                    {% endif %}
                {% endfor %}

                <button type="submit" class="btn btn-primary">{% trans from 'backoffice' %}Find{% endtrans %}</button>
            </form>
        </div>

        <div class="overflow-x-auto border">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>{% trans from 'backoffice' %}Email{% endtrans %}</th>
                        <th>{% trans from 'backoffice' %}Created At{% endtrans %}</th>
                        <th>{% trans from 'backoffice' %}Updated At{% endtrans %}</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% if pagination.getTotalItemCount %}
                        {% for admin in pagination %}
                            <tr>
                                <td>{{ admin.email }}</td>
                                <td>{{ admin.createdAt }}</td>
                                <td>{{ admin.updatedAt ?? '-' }}</td>
                                <td>
                                    <a href="{{ path('backoffice.admin.edit', {uuid: admin.uuid}) }}" class="btn btn-ghost btn-xs">{% trans from 'backoffice' %}Edit{% endtrans %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">{% trans %}Not found.{% endtrans %}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
