<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <a href="{{ path('backoffice.dashboard') }}" class="brand-link text-center">
        <span class="brand-text text-uppercase text-bold">{{ backofficeLabel }}</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {% block sidebarNav %}
                    <li class="nav-item">
                        <a href="{{ path('backoffice.dashboard') }}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                {% trans from 'backoffice' %}Dashboard{% endtrans %}
                            </p>
                        </a>
                    </li>

                    <li class="nav-header">
                        {% trans from 'backoffice' %}Users{% endtrans %}
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fa-solid fa-users-gear"></i>
                            <p>
                                {% trans from 'backoffice' %}Admins{% endtrans %}
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('backoffice.admin.list') }}" class="nav-link">
                                    <i class="nav-icon far fa-circle nav-icon"></i>
                                    {% trans from 'backoffice' %}List{% endtrans %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('backoffice.admin.create') }}" class="nav-link">
                                    <i class="nav-icon far fa-circle nav-icon"></i>
                                    {% trans from 'backoffice' %}Create{% endtrans %}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endblock %}
            </ul>
        </nav>
    </div>

    <div class="sidebar-custom">
        <a href="#" class="btn btn-secondary w-100">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>{% trans from 'backoffice' %}Logout{% endtrans %}</span>
        </a>
    </div>
</aside>
