{% extends 'admin_core/layout/admin.html.twig' %}

{% block title %}{{ _a('Available languages') }}{% endblock %}

{% block headline %}
    <div class="headline">
        <div class="headline-body">
            <div class="headline-title">
                <h3>{{ block('title') }}</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row mt-4">
        <div class="col-lg-7 order-last order-lg-first mb-4">
            <div class="card">
                <div class="card-header">{{ _a('Language list') }}</div>

                <div class="card-body">
                    {% if data %}
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th scope="col">{{ _a('Code') }}</th>
                                    <th scope="col">{{ _a('Name') }}</th>
                                    <th scope="col">{{ _a('Native') }}</th>
                                    <th class="text-center" scope="col">{{ _a('Prime') }}</th>
                                    <th class="text-end" scope="col">{{ _a('Action') }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in data %}
                                    <tr>
                                        <td>
                                            <b>{{ item.code }}</b>
                                        </td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.native }}</td>
                                        <td class="text-center">
                                            {% if item.prime %}
                                                <i class="fas fa-check text-success"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-end">
                                            {% if not item.prime %}
                                                {% set deleteFormView = deleteForm.createView %}
                                                {{ form_start(deleteFormView, {'attr': {'class': 'd-inline'}}) }}
                                                {{ form_widget(deleteFormView.identifier, {value: item.identifier} ) }}

                                                <button type="submit" class="btn btn-link text-danger text-decoration-none p-0">{{ _a('Delete') }}</button>
                                                {{ form_end(deleteFormView) }}

                                                &#124;
                                            {% endif %}

                                            <a href="{{ path(constant('App\\Admin\\AdminLanguage\\Infrastructure\\Controller\\LanguageEditController::LANGUAGE_EDIT_ROUTE_NAME'), {identifier: item.identifier}) }}" class="btn btn-link text-info text-decoration-none p-0">{{ _a('Edit') }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="m-0">{{ _a('Please, add new languages. The prime language is English and gets from config file.') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-5 order-first order-lg-last mb-4">
            <div class="card">
                <div class="card-header">{{ _a('Add new language') }}</div>

                <div class="card-body">
                    {% set form = createForm.createView %}

                    {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <button type="submit" class="btn btn-primary w-100">{{ _a('Add') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
