{% extends 'core/layout/default.html.twig' %}

{% block title %}{{ _('Contact') }}{% endblock %}

{% block main %}
    <h4>{{ block('title') }}</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">{{ _('Send Message') }}</button>
    {{ form_end(form) }}
{% endblock %}
