{% extends 'core/common/layout/default.html.twig' %}

{% block title %}{{ _('Contact') }}{% endblock %}

{% block main %}
    <div class="contact-content">
        <div class="column-left">
            <h2>{{ block('title') }}</h2>

            <h3>
                {% set email %}
                    {% include 'common/anti_spam/partial/email.html.twig' with {email: supportEmail} only %}
                {% endset %}

                {% set phone %}
                    {% include 'common/anti_spam/partial/phone.html.twig' with {phone: supportPhone} only %}
                {% endset %}

                <small class="text-muted">
                    {{ __('Our team is happy to answer your questions. Fill out the form, mail us %s or call %s and we\'ll be in touch as soon as possible.', email, phone)|raw }}
                </small>
            </h3>

            <div class="social">
                <a href="{{ social.facebook }}" target="_blank" class="icon">
                    <i class="fab fa-facebook-square"></i>
                </a>

                <a href="{{ social.instagram }}" target="_blank" class="icon">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="{{ social.twitter }}" target="_blank" class="icon">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>

        {% set form = form.createView %}
        <div class="column-right">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">{{ _('Send Message') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
