{% extends 'core/admin/layout/admin.html.twig' %}

{% block title %}{{ _a('Authenticate') }}{% endblock %}

{% block page_id %}auth{% endblock %}

{% block header %}
    {% include 'core/admin/partial/header.html.twig' %}
{% endblock %}

{% block sidebar %}{# empty #}{% endblock %}

{% block main %}
    <form class="signin" method="post">
        {% if error %}
            <div class="alert alert-danger alert-dismissible" role="alert" data-controller="close">
                {{ error.messageKey|trans(error.messageData, 'security')  }}

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="{{ _a('close') }}"
                        data-action="click->close#close"
                >{# empty #}</button>
            </div>
        {% endif %}

        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">

        <label for="username">
            <input type="text" id="username" name="username" class="form-control" placeholder="{{ _a('Username') }}" autocomplete="off">
        </label>

        <label for="password">
            <input type="password" id="password" name="password" class="form-control" placeholder="{{ _a('Password') }}">
        </label>

        <button class="btn" type="submit">{{ _a('Sign in') }}</button>
    </form>
{% endblock %}
