{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }} alert-dismissible" role="alert" data-controller="close">
            {{ message }}

            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="{{ _('close') }}"
                    data-action="click->close#close"
            >{# empty #}</button>
        </div>
    {% endfor %}
{% endfor %}

{% if errors is defined %}
    {% for error in errors %}
        <div class="alert alert-danger alert-dismissible" role="alert" data-controller="close">
            {{ error }}

            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="{{ _('close') }}"
                    data-action="click->close#close"
            >{# empty #}</button>
        </div>
    {% endfor %}
{% endif %}
