<label for="menu" class="mobile-menu">
    <select id="menu" onChange="window.location.href = this.value;">
        <option selected disabled>{{ _('Menu') }}</option>

        <optgroup label="{{ _('Dashboard') }}">
            <option value="{{ path(constant('App\\AdminDashboard\\AdminDashboardRouteName::DASHBOARD')) }}">{{ _('Dashboard') }}</option>
        </optgroup>

        {#<optgroup label="{{ _('User manager') }}">
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _('Admin') }}</option>
        </optgroup>

        <optgroup label="{{ _('I18N manager') }}">
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _('Locale') }}</option>
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _('Translation') }}</option>
        </optgroup>

        <optgroup label="{{ _('Setting') }}">
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _('Setting') }}</option>
        </optgroup>#}

        {% if constant('App\\AdminCache\\AdminCacheModule::ENABLE') %}
            <optgroup label="{{ _('Cache') }}">
                <option value="{{ path(constant('App\\AdminCache\\AdminCacheRouteName::CACHE')) }}">{{ _('Cache control') }}</option>
            </optgroup>
        {% endif %}
    </select>
</label>

<nav class="sidebar-menu" role="navigation">
    <a href="{{ path(constant('App\\AdminDashboard\\AdminDashboardRouteName::DASHBOARD')) }}" class="menu-item {{ app.request.get('_route') in [constant('App\\AdminDashboard\\AdminDashboardRouteName::DASHBOARD')] ? 'active' }}">
        <span>
            <i class="fas fa-tachometer-alt">{# icon #}</i>
            <span class="menu-label">{{ _('Dashboard') }}</span>
        </span>
    </a>

    {#<span class="menu-item disabled" aria-disabled="true">
        <span>
            <i class="fas fa-users">#}{# icon #}{#</i>
            <span class="menu-label">{{ _('User manager') }}</span>
        </span>
    </span>
    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item">
        <span>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span class="menu-label">{{ _('Admin') }}</span>
        </span>
    </a>

    <span class="menu-item disabled" aria-disabled="true">
        <span>
            <i class="fas fa-language">#}{# icon #}{#</i>
            <span class="menu-label">{{ _('I18N manager') }}</span>
        </span>
    </span>
    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item">
        <span>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span class="menu-label">{{ _('Locale') }}</span>
        </span>
    </a>
    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item ">
        <span>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span class="menu-label">{{ _('Translation') }}</span>
        </span>
    </a>

    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item">
        <span>
            <i class="fas fa-cogs">#}{# icon #}{#</i>
            <span class="menu-label">{{ _('Setting') }}</span>
        </span>
    </a>#}

    {% if constant('App\\AdminCache\\AdminCacheModule::ENABLE') %}
        <a href="{{ path(constant('App\\AdminCache\\AdminCacheRouteName::CACHE')) }}" class="menu-item {{ app.request.get('_route') in [constant('App\\AdminCache\\AdminCacheRouteName::CACHE')] ? 'active' }}">
            <span>
                <i class="fas fa-eraser">{# icon #}</i>
                <span class="menu-label">{{ _('Cache control') }}</span>
            </span>
        </a>
    {% endif %}
</nav>
