<label for="menu" class="mobile-menu">
    <select id="menu" onChange="window.location.href = this.value;">
        <option selected disabled>{{ _a('Menu') }}</option>

        {% if constant('App\\Admin\\AdminDashboard\\AdminDashboardModule::ENABLE') %}
            {% include 'admin/admin_dashboard/menu/mobile.html.twig' %}
        {% endif %}

        {#<optgroup label="{{ _a('User manager') }}">
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _a('Admin') }}</option>
        </optgroup>

        <optgroup label="{{ _a('I18N manager') }}">
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _a('Locale') }}</option>
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _a('Translation') }}</option>
        </optgroup>

        <optgroup label="{{ _a('Setting') }}">
            <option value="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}">{{ _a('Setting') }}</option>
        </optgroup>#}

        {% if constant('App\\Admin\\AdminLanguage\\AdminLanguageModule::ENABLE') %}
            {% include 'admin/admin_language/menu/mobile.html.twig' %}
        {% endif %}

        {% if constant('App\\Admin\\AdminCache\\AdminCacheModule::ENABLE') %}
            {% include 'admin/admin_cache/menu/mobile.html.twig' %}
        {% endif %}
    </select>
</label>

<nav class="sidebar-menu" role="navigation">
    {% if constant('App\\Admin\\AdminDashboard\\AdminDashboardModule::ENABLE') %}
        {% include 'admin/admin_dashboard/menu/link.html.twig' %}
    {% endif %}

    {#<span class="menu-item disabled" aria-disabled="true">
        <span>
            <i class="fas fa-users">#}{# icon #}{#</i>
            <span class="menu-label">{{ _a('User manager') }}</span>
        </span>
    </span>
    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item">
        <span>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span class="menu-label">{{ _a('Admin') }}</span>
        </span>
    </a>

    <span class="menu-item disabled" aria-disabled="true">
        <span>
            <i class="fas fa-language">#}{# icon #}{#</i>
            <span class="menu-label">{{ _a('I18N manager') }}</span>
        </span>
    </span>
    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item">
        <span>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span class="menu-label">{{ _a('Locale') }}</span>
        </span>
    </a>
    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item ">
        <span>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span class="menu-label">{{ _a('Translation') }}</span>
        </span>
    </a>

    <a href="{{ path(constant('App\\Admin\\AdminRouteName::ADMIN')) }}" class="menu-item">
        <span>
            <i class="fas fa-cogs">#}{# icon #}{#</i>
            <span class="menu-label">{{ _a('Setting') }}</span>
        </span>
    </a>#}

    {% if constant('App\\Admin\\AdminLanguage\\AdminLanguageModule::ENABLE') %}
        {% include 'admin/admin_language/menu/link.html.twig' %}
    {% endif %}

    {% if constant('App\\Admin\\AdminCache\\AdminCacheModule::ENABLE') %}
        {% include 'admin/admin_cache/menu/link.html.twig' %}
    {% endif %}
</nav>
