<header x-data="{ isOpen: false }" class="w-full bg-primary py-5 px-6 sm:hidden">
    <div class="flex items-center justify-between">
        <a href="{{ path('backoffice.dashboard') }}" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">{{ backofficeLabel }}</a>
        <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
            <i x-show="!isOpen" class="fas fa-bars"></i>
            <i x-show="isOpen" class="fas fa-times"></i>
        </button>
    </div>

    <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
        <a href="{{ path('backoffice.dashboard') }}"
           class="flex items-center text-white py-2 pl-4 nav-item {{ app.request.get('_route') in ['backoffice.dashboard'] ? 'bg-primary-focus' : 'hover:bg-primary-focus/50 focus:bg-primary-focus/50' }}"
        >
            <i class="fas fa-tachometer-alt mr-3"></i>
            {% trans from 'backoffice' %}Dashboard{% endtrans %}
        </a>

        <a href="{{ path('backoffice.admin.list') }}"
           class="flex items-center text-white py-2 pl-4 nav-item {{ app.request.get('_route') in ['backoffice.admin.list', 'backoffice.admin.create'] ? 'bg-primary-focus' : 'hover:bg-primary-focus/50 focus:bg-primary-focus/50' }}"
        >
            <i class="fas fa-sticky-note mr-3"></i>
            {% trans from 'backoffice' %}Admin{% endtrans %}
        </a>

        <a href="#" class="flex items-center text-white hover:bg-primary-focus/50 focus:bg-primary-focus/50 py-2 pl-4 nav-item">
            <i class="fas fa-user mr-3"></i>
            {% trans from 'backoffice' %}Account{% endtrans %}
        </a>

        <a href="#" class="flex items-center text-white hover:bg-primary-focus/50 focus:bg-primary-focus/50 py-2 pl-4 nav-item">
            <i class="fas fa-sign-out-alt mr-3"></i>
            {% trans from 'backoffice' %}Sign Out{% endtrans %}
        </a>
    </nav>
</header>
